/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 35px;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

nav li a {
	text-decoration: none; 
	color: inherit; 
}

nav li a:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 10%;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filtres {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px; 
}

.boutons {
    display: inline-block;
    font-family: 'Syne';
    font-weight: 700;
    color: #1D6154; 
    background-color: white;
    border: 1px solid #1D6154;
    margin: 40px 0px 20px 0px;
    padding: 0 20px;
    text-align: center;
    border-radius: 60px;
    min-height: 37px;
    line-height: 37px;
    transition: background-color 0.3s, color 0.3s;
}

.boutons:hover {
    color: white;
    background-color: #1D6154;
}

.bouton-active {
    color: white;
    background-color: #1D6154;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
	margin-top: 10%;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Styles pour la section de login */
.lilogin {
	font-weight: bold;
}


.h2log {
display: flex;
justify-content: center;
padding-top: 5%;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

section {
	margin: 0;
}

#login form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

#login label {
    margin-top: 20px;
    font-weight: bold;
    color: #1D6154;
}

#login input[type="email"],
#login input[type="password"] {
    height: 40px;
    font-size: 1em;
    border: none;
    padding: 0 10px;
    margin-top: 5px;
    border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09)
}

#login input[type="submit"] {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto 0 auto;
    width: 55%;
    text-align: center;
    border-radius: 60px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login input[type="submit"]:hover {
    background-color: #B1663C;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

#error-message {
	padding-top: 20px;
	padding-bottom: 20px;
}

.forgot-password:hover {
    color: #B1663C;
}

body.login-page footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    padding: 1px 0; 
    border-top: 1px solid #eaeaea;
}

.hidden {
    display: none;
}

.modal-visible {
    display: block !important;
}


.gallery-images {
    display: none;
}


.modal .gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Banniere admin */
#admin-banner {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Work Sans';
    font-size: 14px;
    width: 100%; 
    position: fixed; 
    top: 0; 
    z-index: 1000; 
    left: 0; 
}

#admin-banner i {
    color: white;
    margin-right: 5px;
}


/* Style de la modale */

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.title-container h2 {
    margin-right: 10px; 
}

#openModalButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Work Sans';
    font-size: 14px;
    color: black;
    margin-top: -20px;
    margin-right: -70px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    width: 630px; 
    height: 688px; 
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

/* Style pour la croix de fermeture */
.modal-content .close {
    position: absolute;
    top: 15px; 
    right: 10px; 
    font-size: 24px; 
    cursor: pointer;
    color: #000; 
}

.modal-content .close:hover {
    color: #B1663C; 
}

.modal-content h3 {
    font-size: 2em; 
    padding-top: 50px;
    padding-bottom: 50px;
}

.modal-content img {
    max-width: 100%;
    height: auto;
}

.modal-content .gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 500px;
    padding-left: 75px;
}

.modal-content .gallery-images > div {
    width: auto; 
    margin: 10px; 
    text-align: center;
}

.modal-content .gallery-images .work-item {
    position: relative;
    width: auto; 
    margin: 10px; 
}

.modal-content .gallery-images .work-item img {
    width: 76px; 
    height: 102px; 
    display: block;
}

.modal-content .gallery-images .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 17px;
    height: 17px;
    background-color: black;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.modal-content .gallery-images .delete-button i {
    color: white;
    font-size: 10px;
}

hr {
    margin-top: 70px;
    width: 70%;
    color: #B3B3B3;
}

#addPhotoButton {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #1D6154;
    margin: 20px auto; 
    width: 280px;
    text-align: center;
    border-radius: 60px;
    height: 40px; 
    border: none;
    cursor: pointer;
}

#addPhotoButton:hover {
    background-color: #B1663C;
}

/* Styles pour le formulaire d'ajout de photo */

#backToGalleryButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Work Sans';
    font-size: 16px;
    color: black;
    margin-top: 0px; 
    margin-left: 0px; 
}

#backToGalleryButton:hover {
    color: #B1663C;
}


#addPhotoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addPhotoForm label {
    margin: 10px 0 5px;
    text-align: left;
    display: block;
}

#addPhotoForm input, #addPhotoForm select, #addPhotoForm button {
    margin-bottom: 10px;
    padding: 8px;
    width: 80%;
    font-size: 1em;
}

#addPhotoForm button[type="submit"] {
    background-color: #a7a7a7;
    cursor: not-allowed;
}

#addPhotoForm:valid button[type="submit"] {
    background-color: #1D6154;
    cursor: pointer;
}

#addPhotoForm button {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #1D6154;
    margin: 20px auto; 
    margin-top: 50px;
    width: 280px;
    text-align: center;
    border-radius: 60px;
    height: 40px; 
    border: none;
    cursor: pointer;
}

#addPhotoForm button:hover {
    background-color: #B1663C;
}

#addPhotoForm input[type="text"],
#addPhotoForm select {
    border: none;
    width: 420px;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#addPhotoForm select {
    appearance: none; 
}

/* Style pour le bouton dans le rectangle de la section Ajout photo */
#rectangleZone {
    width: 420px;
    height: 169px;
    background-color: #E8F1F6;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
}

#previewZone {
    max-width: 100%;
    max-height: 100%;
    display: none; 
    justify-content: center;
    align-items: center;
}

#previewZone img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#imageIcon, #customFileButton, #fileInfoText {
    transition: opacity 0.5s ease;
}

#imageIcon.hidden, #customFileButton.hidden, #fileInfoText.hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

#imageIcon {
    font-size: 70px; 
    margin-bottom: 10px; 
}

#customFileButton {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 16px;
    color: #306685;
    background-color: #cbd6dc;
    width: 200px;
    text-align: center;
    border-radius: 60px;
    height: 40px;
    border: none;
    cursor: pointer;
}

#fileInfoText {
    font-family: 'Work Sans';
    font-size: 14px;
    margin-top: 5px;
}

/* Masquer l'input de fichier */
#photoFile {
    display: none;
}